<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.fss.common.demo"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8"/>
    <application android:label="@string/app_name" android:name=".CommonApplication" android:theme="@style/AppTheme"
                 android:icon="@drawable/test_back">
        <activity android:name=".MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".SmoothProgressBarActivity"></activity>
        <activity android:name=".dynamicgrid.example.DynamicGridActivity"></activity>
        <activity android:name=".cooldraganddrop.CoolDragAndDropActivity"></activity>
        <activity android:name=".stickygridheadersexample.StickGridItemListActivity"></activity>
        <activity android:name=".listviewfilter.ui.ListViewFilterActivity"></activity>
        <activity android:name=".sampleModules.FlipViewActivity"></activity>
        <activity android:name=".sampleModules.PhotoViewActivity"></activity>
        <activity android:name=".sampleModules.SquareProgressBarActivity"></activity>
        <activity android:name=".sampleModules.CircularBarActivity"></activity>
        <activity android:name=".foldingDrawer.FoldingActivitys"></activity>
        <activity android:name=".foldingDrawer.FoldingDrawerLayoutActivity"></activity>
        <activity android:name=".foldingDrawer.FoldingLayoutActivity"></activity>
        <activity android:name=".foldingDrawer.FoldingPaneLayoutActivity"></activity>
        <activity android:name=".foldableLayout.activities.FoldableListActivity"></activity>
        <activity android:name=".foldableLayout.activities.UnfoldableDetailsActivity"></activity>
        <activity android:name=".sampleModules.CalendarSquareActivity"></activity>
        <activity android:name=".sampleModules.KenBurnsViewActivity"></activity>
        <activity android:name=".discrollview.DiscrollActivity"></activity>
        <activity android:name=".sampleModules.PanningViewActivity"></activity>
        <activity android:name=".parallaxscrollexample.ParallaxScrollActivity"></activity>
        <activity android:name=".parallaxscrollexample.SingleParallaxExpandableListView"></activity>
        <activity android:name=".parallaxscrollexample.SingleParallaxListView"></activity>
        <activity android:name=".parallaxscrollexample.SingleParallaxScrollView"></activity>
        <activity android:name=".parallaxscrollexample.MultipleParallaxExpandableListView"></activity>
        <activity android:name=".parallaxscrollexample.MultipleParallaxListView"></activity>
        <activity android:name=".parallaxscrollexample.MultipleParallaxScrollView"></activity>
        <activity android:name=".sampleModules.ProgressbarWheelActivity"></activity>
        <activity android:name=".viewpagerSlidingTab.ViewpagerSlidingTabsActivity"></activity>
        <activity android:name=".rebound.ReboundActivity"></activity>
        <activity android:name=".rebound.ReboundActivitySimple"></activity>
        <activity android:name=".sampleModules.FaceCropActivity"></activity>
        <activity android:name=".listviewanimations.ListAnimationActivity"></activity>
        <activity android:name=".listviewanimations.ListAnimationListActivity"></activity>
        <activity android:name=".listviewanimations.GoogleCardsActivity"></activity>
        <activity android:name=".listviewanimations.GridViewActivity"></activity>
        <activity android:name=".listviewanimations.itemmanipulationexamples.AnimateAdditionActivity"></activity>
        <activity android:name=".listviewanimations.itemmanipulationexamples.DragAndDropActivity"></activity>
        <activity android:name=".listviewanimations.appearanceexamples.AppearanceExamplesActivity"></activity>
        <activity
                android:name=".listviewanimations.itemmanipulationexamples.ItemManipulationsExamplesActivity"></activity>

        <activity android:name=".listviewanimations.itemmanipulationexamples.ExpandableListItemActivity"></activity>
        <activity android:name=".listviewanimations.itemmanipulationexamples.SwipeDismissActivity"></activity>
        <activity android:name=".listviewanimations.itemmanipulationexamples.AnimateDismissActivity"></activity>
    </application>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 读取电话状态的权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 访问网络的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 读写存储卡的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 文件系统的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 访问网络状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 访问精确位置的权限 -->
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <!-- 读取日志的权限 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <!-- Icon安装的权限 -->
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>
    <!-- Icon卸载的权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 访问WIFI网络状态的权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 改变WIFI网络状态的权限 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE">
    </permission>
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_GPS"/>

    <uses-permission android:name="android.permission.NFC"/>
</manifest>
