<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.fss.common.demo"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8"/>
    <application android:label="@string/app_name" android:name="com.fss.commons.demo.CommonApplication" android:theme="@style/AppTheme"
                 android:icon="@drawable/test_back">
        <activity android:name="com.fss.commons.demo.MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.fss.commons.demo.SmoothProgressBarActivity"></activity>
        <activity android:name="com.fss.commons.demo.dynamicgrid.example.DynamicGridActivity"></activity>
        <activity android:name="com.fss.commons.demo.cooldraganddrop.CoolDragAndDropActivity"></activity>
        <activity android:name="com.fss.commons.demo.stickygridheadersexample.StickGridItemListActivity"></activity>
        <activity android:name="com.fss.commons.demo.listviewfilter.ui.ListViewFilterActivity"></activity>
        <activity android:name="com.fss.commons.demo.sampleModules.FlipViewActivity"></activity>
        <activity android:name="com.fss.commons.demo.sampleModules.PhotoViewActivity"></activity>
        <activity android:name="com.fss.commons.demo.sampleModules.SquareProgressBarActivity"></activity>
        <activity android:name="com.fss.commons.demo.sampleModules.CircularBarActivity"></activity>
        <activity android:name="com.fss.commons.demo.foldingDrawer.FoldingActivitys"></activity>
        <activity android:name="com.fss.commons.demo.foldingDrawer.FoldingDrawerLayoutActivity"></activity>
        <activity android:name="com.fss.commons.demo.foldingDrawer.FoldingLayoutActivity"></activity>
        <activity android:name="com.fss.commons.demo.foldingDrawer.FoldingPaneLayoutActivity"></activity>
        <activity android:name="com.fss.commons.demo.foldableLayout.activities.FoldableListActivity"></activity>
        <activity android:name="com.fss.commons.demo.foldableLayout.activities.UnfoldableDetailsActivity"></activity>
        <activity android:name="com.fss.commons.demo.sampleModules.CalendarSquareActivity"></activity>
        <activity android:name="com.fss.commons.demo.sampleModules.KenBurnsViewActivity"></activity>
        <activity android:name="com.fss.commons.demo.discrollview.DiscrollActivity"></activity>
        <activity android:name="com.fss.commons.demo.sampleModules.PanningViewActivity"></activity>
        <activity android:name="com.fss.commons.demo.parallaxscrollexample.ParallaxScrollActivity"></activity>
        <activity android:name="com.fss.commons.demo.parallaxscrollexample.SingleParallaxExpandableListView"></activity>
        <activity android:name="com.fss.commons.demo.parallaxscrollexample.SingleParallaxListView"></activity>
        <activity android:name="com.fss.commons.demo.parallaxscrollexample.SingleParallaxScrollView"></activity>
        <activity android:name="com.fss.commons.demo.parallaxscrollexample.MultipleParallaxExpandableListView"></activity>
        <activity android:name="com.fss.commons.demo.parallaxscrollexample.MultipleParallaxListView"></activity>
        <activity android:name="com.fss.commons.demo.parallaxscrollexample.MultipleParallaxScrollView"></activity>
        <activity android:name="com.fss.commons.demo.sampleModules.ProgressbarWheelActivity"></activity>
        <activity android:name="com.fss.commons.demo.viewpagerSlidingTab.ViewpagerSlidingTabsActivity"></activity>
        <activity android:name="com.fss.commons.demo.rebound.ReboundActivity"></activity>
        <activity android:name="com.fss.commons.demo.rebound.ReboundActivitySimple"></activity>
        <activity android:name="com.fss.commons.demo.sampleModules.FaceCropActivity"></activity>
        <activity android:name="com.fss.commons.demo.listviewanimations.ListAnimationActivity"></activity>
        <activity android:name="com.fss.commons.demo.listviewanimations.ListAnimationListActivity"></activity>
        <activity android:name="com.fss.commons.demo.listviewanimations.GoogleCardsActivity"></activity>
        <activity android:name="com.fss.commons.demo.listviewanimations.GridViewActivity"></activity>
        <activity android:name="com.fss.commons.demo.listviewanimations.itemmanipulationexamples.AnimateAdditionActivity"></activity>
        <activity android:name="com.fss.commons.demo.listviewanimations.itemmanipulationexamples.DragAndDropActivity"></activity>
        <activity android:name="com.fss.commons.demo.listviewanimations.appearanceexamples.AppearanceExamplesActivity"></activity>
        <activity
                android:name="com.fss.commons.demo.listviewanimations.itemmanipulationexamples.ItemManipulationsExamplesActivity"></activity>

        <activity android:name="com.fss.commons.demo.listviewanimations.itemmanipulationexamples.ExpandableListItemActivity"></activity>
        <activity android:name="com.fss.commons.demo.listviewanimations.itemmanipulationexamples.SwipeDismissActivity"></activity>
        <activity android:name="com.fss.commons.demo.listviewanimations.itemmanipulationexamples.AnimateDismissActivity"></activity>
        <activity android:name="com.fss.commons.demo.sampleModules.PullSplashActivity"></activity>

        <activity android:name="com.fss.commons.demo.utils.jsoup.UtilsDemoActivity"></activity>

        <activity android:name="com.fss.commons.demo.sampleModules.ViewServerActivity"></activity>
        <activity android:name="com.fss.commons.demo.activitytransition.ActivityTransitionActivity"></activity>
        <activity android:name="com.fss.commons.demo.activitytransition.ActivityTransitiorSecond"></activity>
        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="com.fss.commons.demo.fileprovider"
                android:grantUriPermissions="true"
                android:exported="false">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/filepaths"/>
        </provider>


        <activity
                android:name="com.fss.commons.uiModule.passcodelock.PasscodeUnlockActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name="com.fss.commons.uiModule.passcodelock.PasscodePreferencesActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name="com.fss.commons.uiModule.passcodelock.PasscodeManagePasswordActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity android:name="com.fss.commons.demo.sampleModules.GestureTouchActivity"></activity>
        <activity android:name="com.fss.commons.demo.activityanimation.ActivityAnimationsActivity"
                  android:theme="@style/AppTheme.Transparent"></activity>
        <activity android:name="com.fss.commons.demo.activityanimation.SecondActivity"
                  android:theme="@style/AppTheme.Transparent"></activity>
        <activity android:name="com.fss.commons.demo.activityanimation.ThirdActivity"
                  android:theme="@style/AppTheme.Transparent"></activity>
        <activity android:name="com.fss.commons.demo.activityanimation.DoorActivity" android:theme="@style/AppTheme.Transparent"></activity>
        <activity android:name="com.fss.commons.demo.pullscrollview.PulldownViewActivity"></activity>
        <activity android:name="com.fss.commons.demo.pullscrollview.PullScrollViewActivity"></activity>
        <activity android:name="com.fss.commons.demo.pullscrollview.StretchViewActivity"></activity>
        <activity android:name="com.fss.commons.demo.sampleModules.CardsSwipedActivity"></activity>
        <activity android:name="com.fss.commons.demo.showcaseview.ShowCaseSampleActivity"></activity>
        <activity android:name="com.fss.commons.demo.showcaseview.animations.AnimationSampleActivity"></activity>
        <activity android:name="com.fss.commons.demo.showcaseview.legacy.MultipleShowcaseSampleActivity"></activity>
        <activity android:name="com.fss.commons.demo.showcaseview.SingleShotActivity"></activity>
        <activity android:name="com.fss.commons.demo.showcaseview.MemoryManagementTesting"></activity>
        <activity android:name="com.fss.commons.demo.listbuddies.ListBuddiesActivity"></activity>
        <activity android:name="com.fss.commons.demo.ResideMenuDemo.ResideMenuActivity"></activity>

        <activity android:name="com.fss.commons.demo.sampleModules.AutofitTextViewActivity"></activity>
        <activity android:name="com.fss.commons.demo.sampleModules.DraggableGridViewPagerTestActivity"></activity>
    </application>

    <!--<uses-configuration android:reqTouchScreen="finger"/>-->

    <!--<uses-feature-->
    <!--android:name="android.hardware.touchscreen"-->
    <!--android:required="true"/>-->
    <!--<uses-feature-->
    <!--android:name="android.hardware.touchscreen.multitouch"-->
    <!--android:required="true"/>-->

    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 读取电话状态的权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 访问网络的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 读写存储卡的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 文件系统的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 访问网络状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 访问精确位置的权限 -->
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <!-- 读取日志的权限 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <!-- Icon安装的权限 -->
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>
    <!-- Icon卸载的权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 访问WIFI网络状态的权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 改变WIFI网络状态的权限 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE">
    </permission>
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_GPS"/>

    <uses-permission android:name="android.permission.NFC"/>
</manifest>
