<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.marshalchen.common.uimodule"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="14"></uses-sdk>
    <application android:label="" android:icon="@drawable/ic_launcher">

    </application>
</manifest>
