<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.marshalchen.common.demoofui"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8"/>
    <application android:label="@string/app_name" android:name="com.marshalchen.common.demoofui.CommonApplication"
                 android:theme="@style/AppTheme"
                 android:icon="@drawable/launcher">
        <activity android:name=".DemoOfUiActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MaterialActivity" android:theme="@style/Theme.MaterialTheme"></activity>
        <activity android:name=".SmoothProgressBarActivity"></activity>
        <activity android:name=".dynamicgrid.example.DynamicGridActivity"></activity>
        <activity android:name=".cooldraganddrop.CoolDragAndDropActivity"></activity>
        <activity android:name=".stickygridheadersexample.StickGridItemListActivity"></activity>
        <activity android:name=".listviewfilter.ui.ListViewFilterActivity"></activity>
        <activity android:name=".sampleModules.FlipViewActivity"></activity>
        <activity android:name=".sampleModules.PhotoViewActivity"></activity>
        <activity android:name=".sampleModules.SquareProgressBarActivity"></activity>
        <activity android:name=".sampleModules.CircularBarActivity"></activity>
        <activity android:name=".foldingDrawer.FoldingActivitys"></activity>
        <activity android:name=".foldingDrawer.FoldingDrawerLayoutActivity"></activity>
        <activity android:name=".foldingDrawer.FoldingLayoutActivity"></activity>
        <activity android:name=".foldingDrawer.FoldingPaneLayoutActivity"></activity>
        <activity android:name=".foldableLayout.activities.FoldableListActivity"></activity>
        <activity android:name=".foldableLayout.activities.UnfoldableDetailsActivity"></activity>
        <activity android:name=".sampleModules.CalendarSquareActivity"></activity>
        <activity android:name=".sampleModules.KenBurnsViewActivity"></activity>
        <activity android:name=".discrollview.DiscrollActivity"></activity>
        <activity android:name=".sampleModules.PanningViewActivity"></activity>
        <activity android:name=".parallaxscrollexample.ParallaxScrollActivity"></activity>
        <activity android:name=".parallaxscrollexample.SingleParallaxExpandableListView"></activity>
        <activity android:name=".parallaxscrollexample.SingleParallaxListView"></activity>
        <activity android:name=".parallaxscrollexample.SingleParallaxScrollView"></activity>
        <activity android:name=".parallaxscrollexample.MultipleParallaxExpandableListView"></activity>
        <activity android:name=".parallaxscrollexample.MultipleParallaxListView"></activity>
        <activity android:name=".parallaxscrollexample.MultipleParallaxScrollView"></activity>
        <activity android:name=".sampleModules.ProgressbarWheelActivity"></activity>
        <activity android:name=".viewpagerSlidingTab.ViewpagerSlidingTabsActivity"></activity>
        <activity android:name=".rebound.ReboundActivity"></activity>
        <activity android:name=".rebound.ReboundActivitySimple"></activity>
        <activity android:name=".sampleModules.FaceCropActivity"></activity>
        <activity android:name=".listviewanimations.ListAnimationActivity"
                  android:theme="@style/Widget.AppCompat.Light.ActionBar.Solid"></activity>
        <activity android:name=".listviewanimations.ListAnimationListActivity"></activity>
        <activity android:name=".listviewanimations.GoogleCardsActivity"></activity>
        <activity android:name=".listviewanimations.GridViewActivity"></activity>
        <activity android:name=".listviewanimations.itemmanipulationexamples.AnimateAdditionActivity"></activity>
        <activity android:name=".listviewanimations.itemmanipulationexamples.DragAndDropActivity"></activity>
        <activity android:name=".listviewanimations.appearanceexamples.AppearanceExamplesActivity"></activity>
        <activity
                android:name=".listviewanimations.itemmanipulationexamples.ItemManipulationsExamplesActivity"></activity>

        <activity android:name=".listviewanimations.itemmanipulationexamples.ExpandableListItemActivity"></activity>
        <activity android:name=".listviewanimations.itemmanipulationexamples.SwipeDismissActivity"></activity>
        <activity android:name=".listviewanimations.itemmanipulationexamples.AnimateDismissActivity"></activity>
        <activity android:name=".sampleModules.PullSplashActivity"></activity>

        <activity android:name=".jsoup.UtilsDemoActivity"></activity>

        <activity android:name=".sampleModules.ViewServerActivity"></activity>
        <activity android:name=".activitytransition.ActivityTransitionActivity"></activity>
        <activity android:name=".activitytransition.ActivityTransitiorSecond"></activity>

        <activity android:name=".sampleModules.JazzyViewActivity"></activity>
        <activity android:name=".imageprocessingexample.ImageProcessingActivity"></activity>
        <activity android:name=".imageprocessingexample.ImageProcessingGenericFilterExample"></activity>
        <activity android:name=".imageprocessingexample.ImageProcessingTwoInputfilterActivity"></activity>
        <activity android:name=".imageprocessingexample.ImageProcessingVideotoImageActivity"></activity>
        <activity android:name=".sampleModules.TestHTML5WebView"></activity>
        <activity android:name=".sampleModules.CropExample"></activity>
        <activity android:name="com.marshalchen.common.uimodule.cropimage.CropImageActivity"></activity>
        <activity android:name=".sampleModules.CropperSample"></activity>
        <activity android:name=".sampleModules.ImageFilterActivity"></activity>
        <activity android:name=".sampleModules.MotionSampleActivity"></activity>
        <activity android:name=".shapeimageview.ShapeImageViewActivity"></activity>
        <activity android:name=".sampleModules.CustomShapeImageViewActivity"></activity>
        <activity android:name=".sampleModules.MarqueeViewSample"></activity>
        <activity android:name=".sampleModules.SignaturePadActivity"></activity>
        <activity android:name=".sampleModules.DrawableActivity"></activity>
        <activity android:name=".sampleModules.AndroidWeekViewActivity"></activity>
        <activity android:name=".sampleModules.FilckerAnimationListActivity"></activity>
        <activity android:name=".sampleModules.ArcMenuActivity"></activity>
        <activity android:name=".sampleModules.ExpandCircleProgressExampleActivity"></activity>
        <activity android:name=".artbook.FreeFlowArtbookActivity"></activity>
        <activity android:name=".sampleModules.FreeFlowPhotoGridActivity"></activity>
        <activity android:name=".sampleModules.RecyclerViewSample"></activity>
        <activity android:name=".recyclerviewitemanimator.RecyclerViewItemAnimatorActivity"></activity>
        <activity android:name=".sampleModules.RippleEffectActivity"></activity>
        <activity android:name=".sampleModules.FloatingActionButtonActivity"></activity>
        <activity android:name=".sampleModules.FloatingActionButtonDemo"></activity>
        <activity android:name=".circularfloatingactionmenu.MenuInScrollViewActivity"></activity>
        <activity android:name=".circularfloatingactionmenu.CircularFloatingActivity"></activity>
        <activity android:name=".circularfloatingactionmenu.MenuWithCustomActionButtonActivity"></activity>
        <activity android:name=".circularfloatingactionmenu.MenuWithCustomAnimationActivity"></activity>
        <activity android:name=".circularfloatingactionmenu.MenuWithFABActivity"></activity>
        <activity android:name=".materialmenu.MaterialMenuToolbarActivity"
                  android:theme="@style/Theme.MaterialTheme"></activity>
        <activity android:name=".materialmenu.HomeIconActivity" android:theme="@style/MaterialMenuTheme"></activity>
        <activity android:name=".materialmenu.MaterialMenuAppcompatActivity"
                  android:theme="@style/MaterialMenuTheme"></activity>
        <activity android:name=".pulltozoomview.PullToZoomActivity"></activity>
        <activity android:name=".pulltozoomview.PullToZoomListActivity"></activity>
        <activity android:name=".pulltozoomview.PullToZoomScrollActivity"></activity>
        <activity android:name=".twowayview.TwoWayViewActivity"></activity>
        <activity android:name=".recyclerplayground.RecyclerViewPlayGroundActivity"></activity>
        <activity android:name=".recyclerviewstickyheaders.RecyclerViewStickyHeadersActivity"
                  android:theme="@style/Theme.MaterialTheme"></activity>
        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="com.marshalchen.common.demoofui.fileprovider"
                android:grantUriPermissions="true"
                android:exported="false">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/filepaths"/>
        </provider>


        <activity
                android:name="com.marshalchen.common.uimodule.passcodelock.PasscodeUnlockActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name="com.marshalchen.common.uimodule.passcodelock.PasscodePreferencesActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
                android:name="com.marshalchen.common.uimodule.passcodelock.PasscodeManagePasswordActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden">
        </activity>
        <activity android:name=".sampleModules.GestureTouchActivity"></activity>
        <activity android:name=".activityanimation.ActivityAnimationsActivity"
                  android:theme="@style/AppTheme.Transparent"></activity>
        <activity android:name=".activityanimation.SecondActivity"
                  android:theme="@style/AppTheme.Transparent"></activity>
        <activity android:name=".activityanimation.ThirdActivity"
                  android:theme="@style/AppTheme.Transparent"></activity>
        <activity android:name=".activityanimation.DoorActivity" android:theme="@style/AppTheme.Transparent"></activity>
        <activity android:name=".pullscrollview.PulldownViewActivity"></activity>
        <activity android:name=".pullscrollview.PullScrollViewActivity"></activity>
        <activity android:name=".pullscrollview.StretchViewActivity"></activity>
        <activity android:name=".sampleModules.CardsSwipedActivity"></activity>
        <activity android:name=".showcaseview.ShowCaseSampleActivity"></activity>
        <activity android:name=".showcaseview.animations.AnimationSampleActivity"></activity>
        <activity android:name=".showcaseview.legacy.MultipleShowcaseSampleActivity"></activity>
        <activity android:name=".showcaseview.SingleShotActivity"></activity>
        <activity android:name=".showcaseview.MemoryManagementTesting"></activity>
        <activity android:name=".listbuddies.ListBuddiesActivity"></activity>
        <activity android:name=".ResideMenuDemo.ResideMenuActivity"></activity>

        <activity android:name=".sampleModules.AutofitTextViewActivity"></activity>
        <activity android:name=".sampleModules.DraggableGridViewPagerTestActivity"></activity>
        <activity android:name=".sampleModules.FloatLabelActivity"></activity>
        <activity android:name=".sampleModules.WireFrameActivity"></activity>
        <activity android:name=".sampleModules.TriangleFrameActivity"></activity>
        <activity android:name=".sampleModules.RiseNumberActivity"></activity>
        <activity android:name=".sampleModules.NiftyDialogActivity"></activity>
        <activity android:name=".sampleModules.DifferentIconsActivity"></activity>

        <activity android:name=".edgeeffectoverride.EdgeEffectActivity"></activity>
        <activity android:name=".edgeeffectoverride.ExpandableListViewActivity"></activity>
        <activity android:name=".edgeeffectoverride.ListViewActivity"></activity>
        <activity android:name=".edgeeffectoverride.ScrollViewActivity"></activity>
        <activity android:name=".edgeeffectoverride.ViewPagerActivity"></activity>
        <activity android:name=".edgeeffectoverride.WebViewActivity"></activity>
        <activity android:name=".edgeeffectoverride.GridViewActivity"></activity>
        <activity android:name=".sampleModules.ViewPagerTransformerActivity"></activity>

        <activity android:name=".standUpTimer.ConfigureStandupTimer"></activity>
        <activity android:name=".standUpTimer.Help"></activity>
        <activity android:name=".standUpTimer.MeetingDetails"></activity>
        <activity android:name=".standUpTimer.Prefs"></activity>
        <activity android:name=".standUpTimer.StandupTimer"></activity>
        <activity android:name=".standUpTimer.TeamDetails"></activity>
        <activity android:name=".standUpTimer.TeamList"></activity>
        <activity android:name=".circularProgressButton.Sample1Activity"></activity>
        <activity android:name=".circularProgressButton.Sample2Activity"></activity>
        <activity android:name=".circularProgressButton.Sample3Activity"></activity>
        <activity android:name=".circularProgressButton.Sample4Activity"></activity>
        <activity android:name=".circularProgressButton.Sample5Activity"></activity>
        <activity android:name=".circularProgressButton.CircularProgressButtonActivity"></activity>
        <activity android:name=".sampleModules.PulltoZoomListViewActivity"></activity>
        <activity android:name=".quickreturnlistview.QuickReturnListViewActivity"></activity>
        <activity android:name=".superlistview.SuperListViewActivity"></activity>
        <activity android:name=".superlistview.ListSample"></activity>
        <activity android:name=".superlistview.GridSample"></activity>
        <activity android:name=".staggeredgridview.StaggeredGridActivity"></activity>
        <activity android:name=".staggeredgridview.ListViewActivity"></activity>
        <activity android:name=".staggeredgridview.StaggeredGridActivityFragment"></activity>
        <activity android:name=".staggeredgridview.StaggeredGridEmptyViewActivity"></activity>
        <activity android:name=".staggeredgridview.StaggeredGridViewActivity"></activity>

        <activity android:name=".sampleModules.DropDownListViewDemo"></activity>
        <activity android:name=".sampleModules.FlowTextViewActivity"></activity>
        <activity android:name=".sampleModules.GoogleProgressBarActivity"></activity>
        <activity android:name=".sampleModules.NumberProgressBarActivity"></activity>

        <activity android:name=".fancyCoverFlow.FancyCoverFlowActivity"></activity>
        <activity android:name=".fancyCoverFlow.example.SimpleExample"></activity>
        <activity android:name=".fancyCoverFlow.example.ViewGroupExample"></activity>
        <activity android:name=".fancyCoverFlow.example.ViewGroupReflectionExample"></activity>
        <activity android:name=".fancyCoverFlow.example.XmlInflateExample"></activity>

        <activity android:name=".dragSortListview.ArbItemSizeDSLV"></activity>
        <activity android:name=".dragSortListview.Launcher"></activity>
        <activity android:name=".dragSortListview.MultipleChoiceListView"></activity>
        <activity android:name=".dragSortListview.Sections"></activity>
        <activity android:name=".dragSortListview.BGHandle"></activity>
        <activity android:name=".dragSortListview.CursorDSLV"></activity>
        <activity android:name=".dragSortListview.SingleChoiceListView"></activity>
        <activity android:name=".dragSortListview.TestBedDSLV"></activity>
        <activity android:name=".dragSortListview.WarpDSLV"></activity>

        <activity android:name=".fadingactionbar.HeaderOverlayActivity"></activity>
        <activity android:name=".fadingactionbar.HomeActivity"></activity>
        <activity android:name=".fadingactionbar.LightActionBarActivity"></activity>
        <activity android:name=".fadingactionbar.ListViewActivity"></activity>
        <activity android:name=".fadingactionbar.LightBackgroundActivity"></activity>
        <activity android:name=".fadingactionbar.NavigationDrawerActivity"></activity>
        <activity android:name=".fadingactionbar.NoParallaxActivity"></activity>
        <activity android:name=".fadingactionbar.SampleFragmentActivity"></activity>
        <activity android:name=".fadingactionbar.ScrollViewActivity"></activity>
        <activity android:name=".fadingactionbar.ShortContentActivity"></activity>
        <activity android:name=".fadingactionbar.WebViewActivity"></activity>
        <activity android:name=".sampleModules.SwipeRefreshLayoutDemo"></activity>

        <activity android:name=".sampleModules.UltimateListviewActivity"></activity>

        <activity android:name=".swipelayoutdemo.SwipeLayoutActivity"></activity>
        <activity android:name=".swipelayoutdemo.GridViewExample"></activity>
        <activity android:name=".swipelayoutdemo.ListViewExample"></activity>
        <activity android:name=".swipelayoutdemo.NestedExample"></activity>

        <activity android:name=".androidanimationsdemo.AndroidAnimationsDemoActivity"></activity>
        <activity android:name=".androidanimationsdemo.ExampleActivity"></activity>

        <activity android:name=".easingDemo.EasingActivity"></activity>
        <activity android:name=".sampleModules.JumpingBeansActivity"></activity>
        <activity android:name=".sampleModules.AndroidViewHoverActivity"></activity>
        <activity android:name=".slider.SliderActivity"></activity>

        <activity android:name=".sampleModules.CalendarListViewActivity"></activity>
        <activity android:name=".easyandroidanimations.EasyAnimationListActivity"></activity>
        <activity android:name=".easyandroidanimations.AnimationDetailActivity"></activity>
        <activity android:name=".roundedimageview.RoundedImageViewActivity"
                  android:theme="@style/android:Theme.Holo.Light.DarkActionBar"></activity>
        <activity android:name=".BlurNavigationDrawer.BlurNavigationDrawerActivity"></activity>

        <activity android:name=".blurdialogfragment.BlurDialogActivity"></activity>
        <activity android:name=".blurdialogfragment.SampleActionBarActivity"></activity>
        <activity android:name=".blurdialogfragment.SampleFullScreenActivity"></activity>
        <activity android:name=".sampleModules.CustomPullToRefreshActivity" android:theme="@style/android:Theme.Holo.Light.DarkActionBar"></activity>

        <service android:name=".jsoup.UtilsDemoActivity$TitleService" android:exported="false"/>
        <service android:name=".sampleModules.DropDownListViewDemo$GetDataService" android:exported="false"/>
        <service android:name=".staggeredgridview.StaggeredGridEmptyViewActivity$FetchDataService" android:exported="false"/>
        <service android:name=".listviewfilter.ui.ListViewFilterActivity$PopulateService" android:exported="false"/>
    </application>

    <!--<uses-configuration android:reqTouchScreen="finger"/>-->

    <!--<uses-feature-->
    <!--android:name="android.hardware.touchscreen"-->
    <!--android:required="true"/>-->
    <!--<uses-feature-->
    <!--android:name="android.hardware.touchscreen.multitouch"-->
    <!--android:required="true"/>-->

    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 读取电话状态的权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 访问网络的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 读写存储卡的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 文件系统的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 访问网络状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 访问精确位置的权限 -->
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <!-- 读取日志的权限 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <!-- Icon安装的权限 -->
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>
    <!-- Icon卸载的权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 访问WIFI网络状态的权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 改变WIFI网络状态的权限 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_GPS"/>

    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
</manifest>
